[Unit]
Description=Printing Over Simple HTTP service

[Service]
ExecStart=/usr/local/bin/posh
Restart=on-failure
User=lp

[Install]
WantedBy=multi-user.target
